h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

.title {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}